#footer_links {
  margin-top:2px;
  background:#cdd5dd;
  float:left;
  width:100%;

  .column {
    width: 27%;
    padding: 0 3% 20px;
    margin:0;
    border: {
      left:1px solid #a1a9bb;
      //right:1px solid #d9dfe5;
    }
    float:left;

    &:first-child { border-left: none }
    &:last-child {
      border-right: none;
      float:right;
      margin:0;
    }

    p {
      font: {
        size:14px;
        weight:bold;
      }
      color:$blue_dark;
    }

    ul {
      margin:0;
      padding:0;
      list-style: none;

      li {
        &:before {
          content: '\25C6';
          color:$blue_dark;
        }

        a {
          text-decoration: none;
          color:$blue_dark;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

footer {
  p {
    text-align:center;
    font-size:12px;
  }
}