#slider_wrapper {
  position:relative;
  z-index:200;
  left:-17px;
  top:0;
  width:990px;
  height:270px;
  border:1px solid $blue_dark;
  background:#fff;
  @include border-radius(5px);
  @include box-shadow(0 0 6px rgba(0, 0, 0, 0.65));

  .anythingSlider {
    margin:0;
    padding:0;

    .anythingWindow {
      border:none;

      .panel {
        position:relative;

        .description,
        .image {
          position:absolute;
          width:50% !important;
          height:100%;
          top:0;
        }

        .description {
          position:absolute;
          width:50% !important;
          left:0;
          color:#fff;
          background:url('../img/bg-slider-description.jpg') top left no-repeat;
          background-size:cover;
          @include border-radius(3px 0 0 3px);
          overflow:hidden;

          p, div {
            margin:0 0 5px 50px;
          }

          h1, h2, h3, h4, h5 {
            margin:5px 0 10px 50px;
          }

          h1 {
            margin-top:20px;
          }

          .more {
            margin-top:20px;
            text-align:right;
            padding-right:10px;

            a {
              text-decoration:none;
              color:#fff;
              font-weight:bold;
              border-bottom:1px solid #fff;

              &:hover {
                color:$blue_light;
                border-bottom:1px solid $blue_light;
              }
            }
          }
        }

        .image {
          right:0;
          border-left:1px solid #fff;
          width:100%;
          height:100%;
          overflow:hidden;
          @include border-radius(3px 0 0 3px);

          img {
            width:100%;
          }
        }
      } // .panel
    } // .anythingWindow

    .anythingControls {
      position:relative;
      top:-20px;
      left:50px;
      @include clearfix;

      li {
        a {
          background:#fff;
          border:1px solid #000;
          width:11px;
          height:11px;
          padding:0;
          @include border-radius(50%);

          span { display:none }

          &.cur {
            background:$blue_medium;
          }
        }
      }
    } // .anythingControls
  } // .anythingSlider
}